body {
  text-align: center;
  background-color: #363636;
  color: #fbfef9;
}

.title {
  margin: 20px;
  font-size: 50px;
}

.card-container {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 3px;
  width: 220px;
  height: 450px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #6c91c2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.card-number {
  margin: 0;
  margin-top: 10px;
}

.card-image {
  margin: 0;
  width: 100%;
}

.card-symbol {
  margin: 0;
  font-size: 40px;
}

.card-name {
  margin: 10px;
}

.card-mass {
  margin: 0;
  margin-bottom: 10px;
}